body {
  text-align: center;
  background-color: #262628;
  background-image: url("./Assets/imgs/NN-Bg-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.clearfix:after {
  display: block;
  content: ".";
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
}